Adwitt_Renewal/dev/jade/Dashboard.jade
extends ./_layout

block title
  title Adwitt :: Dashboard

block externalStyle
  // Reset
  link(href="./css/reset.css" rel="stylesheet")
  //- link(href="./css/normalize.css" rel="stylesheet")

  // Vendors
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.8/css/perfect-scrollbar.min.css" rel="stylesheet")

  // Style
  link(href="./css/dashboard.css" rel="stylesheet")
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js")
  script(Src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.8/js/min/perfect-scrollbar.jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.16/webfontloader.js")

block internalStyle

block headerScript
  script.
    WebFont.load({
      google: {
        families: ['Roboto Condensed:400,700']
      }
    });

block contents
  div#wrap.warp
    //- header#header
    //- div#container
    //- footer#footer
    div#container.container
      div.dashboard__section

        div.row
          div.col
            div.contents--title
              h2 <img src="./images/icon_dashboard_3b5998_17x15.png" alt=""/> Dashboard
            button(type="button").button--setting Dashboard Setting Button
        div.row
          div.col
            div.content
              div.setting
                table.setting__table
                  col(width="60")
                  col(width="*")
                  tbody.setting__table-tbody
                    tr.setting__table-tr
                      th.setting__table-th Period
                      td.setting__table-td
                        input(type="text").input--date
                        span.text--dash  -
                        input(type="text").input--date
                        select(style="width: 110px;")
                          option Today
                    tr.setting__table-tr
                      th.setting__table-th Status
                      td.setting__table-td
                        select(style="width: 110px;")
                          option All
                          option Active
                        button(type="button").button--search Search
        div.row
          div.col
            div.content
              div.campaign-type
                button(type="button").button--prev
                div#campaign-type__wrapper.campaign-type__wrapper
                  button(type="button").campaign-type__button Desktop App Engagement
                    img(src="./images/icon_desktop-app-engagement_404040_15x13.png")
                  button(type="button").campaign-type__button Desktop App Installs
                    img(src="./images/icon_desktop-app-installs_404040_15x13.png")
                  button(type="button").campaign-type__button Lead Generation
                    img(src="./images/icon_lead-generation_404040_12x15.png")
                  button(type="button").campaign-type__button Mobile App Engagement
                    img(src="./images/icon_mobile-app-engagement_404040_10x15.png")
                  button(type="button").campaign-type__button Mobile App Installs
                    img(src="./images/icon_mobile-app-installs_404040_9x15.png")
                  button(type="button").campaign-type__button Offer Claims
                    img(src="./images/icon_offer-claims_404040_16x13.png")
                  button(type="button").campaign-type__button Page Likes
                    img(src="./images/icon_page-likes_404040_18x15.png")
                  button(type="button").campaign-type__button Page Post Engagement
                    img(src="./images/icon_page-post-engagement_404040_16x16.png")
                  button(type="button").campaign-type__button Product Catalog Sales
                    img(src="./images/icon_product-catalog-sales_404040_13x13.png")
                  button(type="button").campaign-type__button Video Views
                    img(src="./images/icon_video-views_404040_16x11.png")
                  button(type="button").campaign-type__button Website Clicks
                    img(src="./images/icon_website-clicks_404040_10x16.png")
                  button(type="button").campaign-type__button Website Conversions
                    img(src="./images/icon_website-conversions_404040_12x12.png")
                button(type="button").button--next

        div.row
          div.col(data-float="left" data-ratio="3")
            div.headline
              h3 Campaign Summary
            div.content
              div.campaign-summary
                table.campaign-summary__table
                  thead.campaign-summary__table-thead
                    tr.campaign-summary__table-tr
                      th.campaign-summary__table-th &nbsp;
                      th.campaign-summary__table-th Spend
                      th.campaign-summary__table-th Impression
                      th.campaign-summary__table-th Reach
                  tbody.campaign-summary__table-tbody
                    tr.campaign-summary__table-tr
                      td.campaign-summary__table-td &nbsp;
                      td.campaign-summary__table-td 2015-11-20
                      td.campaign-summary__table-td 2015-11-19
                      td.campaign-summary__table-td 2015-11-18
                    tr.campaign-summary__table-tr
                      td.campaign-summary__table-td &nbsp;
                      td.campaign-summary__table-td 2015-11-20
                      td.campaign-summary__table-td 2015-11-19
                      td.campaign-summary__table-td 2015-11-18
                    tr.campaign-summary__table-tr
                      td.campaign-summary__table-td &nbsp;
                      td.campaign-summary__table-td 2015-11-20
                      td.campaign-summary__table-td 2015-11-19
                      td.campaign-summary__table-td 2015-11-18
          div.col(data-float="right" data-ratio="7")
            div.headline
              h3 Campaign Graph
            div.content
              | 그래프가 들어갈 공간!!
        div.row
          div.col
            div.headline
              h3 Campaign Details
            div.content
              div.campaign-details
                p.campaign-details__text
                  span Period Spend <i class="fa fa-info-circle"></i>
                    strong 787,041
                  span Spend Today <i class="fa fa-info-circle"></i>
                    strong 67,912
                div.campaign-details__button-wrap
                  button(type="button").button--my-report My Report
                  button(type="button").button--edit-columns Edit Columns
                  button(type="button").button--save-report Save Report
                table.campaign-details__table
                  colgroup
                    col(width="16")
                    col(width="26")
                    col(width="*")
                    col(width="10")
                    col(width="80")
                    col(width="80")
                    col(width="70")
                    col(width="60")
                    col(width="60")
                    col(width="60")
                    col(width="60")
                    col(width="120")
                    col(width="160")
                    col(width="80")
                    col(width="60")
                    col(width="80")
                    col(width="60")
                    col(width="60")
                  thead.campaign-details__table-thead
                    tr.campaign-details__table-tr
                      th.campaign-details__table-th
                        input(type="checkbox" id="th1")
                        label(for="th1") &nbsp;
                      th.campaign-details__table-th &nbsp;
                      th.campaign-details__table-th Campaign Name
                      th.campaign-details__table-th &nbsp;
                      th.campaign-details__table-th Start Date
                      th.campaign-details__table-th End Date
                      th.campaign-details__table-th Impression
                      th.campaign-details__table-th Reach
                      th.campaign-details__table-th Click
                      th.campaign-details__table-th CTR
                      th.campaign-details__table-th CPC
                      th.campaign-details__table-th Website Click
                      th.campaign-details__table-th Cost Per Website Click
                      th.campaign-details__table-th Budget
                      th.campaign-details__table-th Spent
                      th.campaign-details__table-th Period Spent
                      th.campaign-details__table-th Manage
                      th.campaign-details__table-th Report
                  tbody.campaign-details__table-tbody
                    - for (var i = 0; i < 4; i++)
                      tr.campaign-details__table-tr
                        td.campaign-details__table-td
                          input(type="checkbox" id="td"+i)
                          label(for="td"+i) &nbsp;
                        if i%2 == 0
                          td.campaign-details__table-td <img src="./images/icon_play_000000_6x8.png" alt=""/>
                        else
                          td.campaign-details__table-td <img src="./images/icon_pause_000000_6x8.png" alt=""/>
                        td.campaign-details__table-td 대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 연소자의 근로는 특별한 보호를 받는다. 재판의 전심절차로서 행정심판을 할 수 있다. 행정심판의 절차는 법률로 정하되, 사법절차가 준용되어야 한다.
                        if i%2 == 0
                          td.campaign-details__table-td <i class="fa fa-exclamation-circle"></i>
                        else
                          td.campaign-details__table-td &nbsp;
                        td.campaign-details__table-td 2014-11-20
                        td.campaign-details__table-td 2014-11-20
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0%
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 1,500,000
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td
                          button(type="button").button--manage Manage
                        td.campaign-details__table-td
                          button(type="button").button--report Report

  div.popup__save-report
    div.popup__header
      div.title__inner
        h4.title Save Report

    div.popup__container

      p.text--desc Give these report settings a unique name so it`s easy to use them in the future.<br/>We`ll save your columns.

      div.input--name
        label Name
        input(type="text")

      input(type="checkbox")
      label Set this report as my default.
    div.popup__footer
      button(type="button").button--ok OK

    button(type="button").popup__button--close

  div.popup__my-report
    div.popup__header
      div.title__inner
        h4.title My Report

    div.popup__container
      div.my-report__field
        ul.my-report__list
          li.my-report__item.my-report__item--selected.my-report__item--default <span class="text--ellipsis">Report Report Report Report</span>
          li.my-report__item.my-report__item--selected <span>Report</span>
          li.my-report__item <span>Report</span>
          li.my-report__item <span>Report</span>
          li.my-report__item <span>Report</span>
          li.my-report__item <span>Report</span>
          li.my-report__item <span>Report</span>
      input(type="checkbox")
      label Set this report as my default.
    div.popup__footer
      button(type="button").button--ok OK

    button(type="button").popup__button--close

  include ./Dashbaord/popup_dashboard-setting


  script(src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js")
  script(src="./scripts/dashboard.js")

Adwitt_Renewal/dev/Dashboard.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adwitt :: Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Reset-->
    <link href="./css/reset.css" rel="stylesheet">
    <!-- Vendors-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.8/css/perfect-scrollbar.min.css" rel="stylesheet">
    <!-- Style-->
    <link href="./css/dashboard.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script Src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.8/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.16/webfontloader.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Roboto Condensed:400,700']
        }
      });
      
    </script>
  </head>
  <body>
    <div id="wrap" class="warp">
      <div id="container" class="container">
        <div class="dashboard__section">
          <div class="row">
            <div class="col">
              <div class="contents--title">
                <h2><img src="./images/icon_dashboard_3b5998_17x15.png" alt=""/> Dashboard</h2>
              </div>
              <button type="button" class="button--setting">Dashboard Setting Button</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="content">
                <div class="setting">
                  <table class="setting__table">
                    <col width="60">
                    <col width="*">
                    <tbody class="setting__table-tbody">
                      <tr class="setting__table-tr">
                        <th class="setting__table-th">Period</th>
                        <td class="setting__table-td">
                          <input type="text" class="input--date"><span class="text--dash"> -</span>
                          <input type="text" class="input--date">
                          <select style="width: 110px;">
                            <option>Today</option>
                          </select>
                        </td>
                      </tr>
                      <tr class="setting__table-tr">
                        <th class="setting__table-th">Status</th>
                        <td class="setting__table-td">
                          <select style="width: 110px;">
                            <option>All</option>
                            <option>Active</option>
                          </select>
                          <button type="button" class="button--search">Search</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="content">
                <div class="campaign-type">
                  <button type="button" class="button--prev"></button>
                  <div id="campaign-type__wrapper" class="campaign-type__wrapper">
                    <button type="button" class="campaign-type__button">Desktop App Engagement<img src="./images/icon_desktop-app-engagement_404040_15x13.png"></button>
                    <button type="button" class="campaign-type__button">Desktop App Installs<img src="./images/icon_desktop-app-installs_404040_15x13.png"></button>
                    <button type="button" class="campaign-type__button">Lead Generation<img src="./images/icon_lead-generation_404040_12x15.png"></button>
                    <button type="button" class="campaign-type__button">Mobile App Engagement<img src="./images/icon_mobile-app-engagement_404040_10x15.png"></button>
                    <button type="button" class="campaign-type__button">Mobile App Installs<img src="./images/icon_mobile-app-installs_404040_9x15.png"></button>
                    <button type="button" class="campaign-type__button">Offer Claims<img src="./images/icon_offer-claims_404040_16x13.png"></button>
                    <button type="button" class="campaign-type__button">Page Likes<img src="./images/icon_page-likes_404040_18x15.png"></button>
                    <button type="button" class="campaign-type__button">Page Post Engagement<img src="./images/icon_page-post-engagement_404040_16x16.png"></button>
                    <button type="button" class="campaign-type__button">Product Catalog Sales<img src="./images/icon_product-catalog-sales_404040_13x13.png"></button>
                    <button type="button" class="campaign-type__button">Video Views<img src="./images/icon_video-views_404040_16x11.png"></button>
                    <button type="button" class="campaign-type__button">Website Clicks<img src="./images/icon_website-clicks_404040_10x16.png"></button>
                    <button type="button" class="campaign-type__button">Website Conversions<img src="./images/icon_website-conversions_404040_12x12.png"></button>
                  </div>
                  <button type="button" class="button--next"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div data-float="left" data-ratio="3" class="col">
              <div class="headline">
                <h3>Campaign Summary</h3>
              </div>
              <div class="content">
                <div class="campaign-summary">
                  <table class="campaign-summary__table">
                    <thead class="campaign-summary__table-thead">
                      <tr class="campaign-summary__table-tr">
                        <th class="campaign-summary__table-th">&nbsp;</th>
                        <th class="campaign-summary__table-th">Spend</th>
                        <th class="campaign-summary__table-th">Impression</th>
                        <th class="campaign-summary__table-th">Reach</th>
                      </tr>
                    </thead>
                    <tbody class="campaign-summary__table-tbody">
                      <tr class="campaign-summary__table-tr">
                        <td class="campaign-summary__table-td">&nbsp;</td>
                        <td class="campaign-summary__table-td">2015-11-20</td>
                        <td class="campaign-summary__table-td">2015-11-19</td>
                        <td class="campaign-summary__table-td">2015-11-18</td>
                      </tr>
                      <tr class="campaign-summary__table-tr">
                        <td class="campaign-summary__table-td">&nbsp;</td>
                        <td class="campaign-summary__table-td">2015-11-20</td>
                        <td class="campaign-summary__table-td">2015-11-19</td>
                        <td class="campaign-summary__table-td">2015-11-18</td>
                      </tr>
                      <tr class="campaign-summary__table-tr">
                        <td class="campaign-summary__table-td">&nbsp;</td>
                        <td class="campaign-summary__table-td">2015-11-20</td>
                        <td class="campaign-summary__table-td">2015-11-19</td>
                        <td class="campaign-summary__table-td">2015-11-18</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div data-float="right" data-ratio="7" class="col">
              <div class="headline">
                <h3>Campaign Graph</h3>
              </div>
              <div class="content">그래프가 들어갈 공간!!</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="headline">
                <h3>Campaign Details</h3>
              </div>
              <div class="content">
                <div class="campaign-details">
                  <p class="campaign-details__text"><span>Period Spend <i class="fa fa-info-circle"></i><strong>787,041</strong></span><span>Spend Today <i class="fa fa-info-circle"></i><strong>67,912</strong></span></p>
                  <div class="campaign-details__button-wrap">
                    <button type="button" class="button--my-report">My Report</button>
                    <button type="button" class="button--edit-columns">Edit Columns</button>
                    <button type="button" class="button--save-report">Save Report</button>
                  </div>
                  <table class="campaign-details__table">
                    <colgroup>
                      <col width="16">
                      <col width="26">
                      <col width="*">
                      <col width="10">
                      <col width="80">
                      <col width="80">
                      <col width="70">
                      <col width="60">
                      <col width="60">
                      <col width="60">
                      <col width="60">
                      <col width="120">
                      <col width="160">
                      <col width="80">
                      <col width="60">
                      <col width="80">
                      <col width="60">
                      <col width="60">
                    </colgroup>
                    <thead class="campaign-details__table-thead">
                      <tr class="campaign-details__table-tr">
                        <th class="campaign-details__table-th">
                          <input type="checkbox" id="th1">
                          <label for="th1">&nbsp;</label>
                        </th>
                        <th class="campaign-details__table-th">&nbsp;</th>
                        <th class="campaign-details__table-th">Campaign Name</th>
                        <th class="campaign-details__table-th">&nbsp;</th>
                        <th class="campaign-details__table-th">Start Date</th>
                        <th class="campaign-details__table-th">End Date</th>
                        <th class="campaign-details__table-th">Impression</th>
                        <th class="campaign-details__table-th">Reach</th>
                        <th class="campaign-details__table-th">Click</th>
                        <th class="campaign-details__table-th">CTR</th>
                        <th class="campaign-details__table-th">CPC</th>
                        <th class="campaign-details__table-th">Website Click</th>
                        <th class="campaign-details__table-th">Cost Per Website Click</th>
                        <th class="campaign-details__table-th">Budget</th>
                        <th class="campaign-details__table-th">Spent</th>
                        <th class="campaign-details__table-th">Period Spent</th>
                        <th class="campaign-details__table-th">Manage</th>
                        <th class="campaign-details__table-th">Report</th>
                      </tr>
                    </thead>
                    <tbody class="campaign-details__table-tbody">
                      <tr class="campaign-details__table-tr">
                        <td class="campaign-details__table-td">
                          <input type="checkbox" id="td0">
                          <label for="td0">&nbsp;</label>
                        </td>
                        <td class="campaign-details__table-td"><img src="./images/icon_play_000000_6x8.png" alt=""/></td>
                        <td class="campaign-details__table-td">대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 연소자의 근로는 특별한 보호를 받는다. 재판의 전심절차로서 행정심판을 할 수 있다. 행정심판의 절차는 법률로 정하되, 사법절차가 준용되어야 한다.</td>
                        <td class="campaign-details__table-td"><i class="fa fa-exclamation-circle"></i></td>
                        <td class="campaign-details__table-td">2014-11-20</td>
                        <td class="campaign-details__table-td">2014-11-20</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0%</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">1,500,000</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">
                          <button type="button" class="button--manage">Manage</button>
                        </td>
                        <td class="campaign-details__table-td">
                          <button type="button" class="button--report">Report</button>
                        </td>
                      </tr>
                      <tr class="campaign-details__table-tr">
                        <td class="campaign-details__table-td">
                          <input type="checkbox" id="td1">
                          <label for="td1">&nbsp;</label>
                        </td>
                        <td class="campaign-details__table-td"><img src="./images/icon_pause_000000_6x8.png" alt=""/></td>
                        <td class="campaign-details__table-td">대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 연소자의 근로는 특별한 보호를 받는다. 재판의 전심절차로서 행정심판을 할 수 있다. 행정심판의 절차는 법률로 정하되, 사법절차가 준용되어야 한다.</td>
                        <td class="campaign-details__table-td">&nbsp;</td>
                        <td class="campaign-details__table-td">2014-11-20</td>
                        <td class="campaign-details__table-td">2014-11-20</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0%</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">1,500,000</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">
                          <button type="button" class="button--manage">Manage</button>
                        </td>
                        <td class="campaign-details__table-td">
                          <button type="button" class="button--report">Report</button>
                        </td>
                      </tr>
                      <tr class="campaign-details__table-tr">
                        <td class="campaign-details__table-td">
                          <input type="checkbox" id="td2">
                          <label for="td2">&nbsp;</label>
                        </td>
                        <td class="campaign-details__table-td"><img src="./images/icon_play_000000_6x8.png" alt=""/></td>
                        <td class="campaign-details__table-td">대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 연소자의 근로는 특별한 보호를 받는다. 재판의 전심절차로서 행정심판을 할 수 있다. 행정심판의 절차는 법률로 정하되, 사법절차가 준용되어야 한다.</td>
                        <td class="campaign-details__table-td"><i class="fa fa-exclamation-circle"></i></td>
                        <td class="campaign-details__table-td">2014-11-20</td>
                        <td class="campaign-details__table-td">2014-11-20</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0%</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">1,500,000</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">
                          <button type="button" class="button--manage">Manage</button>
                        </td>
                        <td class="campaign-details__table-td">
                          <button type="button" class="button--report">Report</button>
                        </td>
                      </tr>
                      <tr class="campaign-details__table-tr">
                        <td class="campaign-details__table-td">
                          <input type="checkbox" id="td3">
                          <label for="td3">&nbsp;</label>
                        </td>
                        <td class="campaign-details__table-td"><img src="./images/icon_pause_000000_6x8.png" alt=""/></td>
                        <td class="campaign-details__table-td">대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 연소자의 근로는 특별한 보호를 받는다. 재판의 전심절차로서 행정심판을 할 수 있다. 행정심판의 절차는 법률로 정하되, 사법절차가 준용되어야 한다.</td>
                        <td class="campaign-details__table-td">&nbsp;</td>
                        <td class="campaign-details__table-td">2014-11-20</td>
                        <td class="campaign-details__table-td">2014-11-20</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0%</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">1,500,000</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">0</td>
                        <td class="campaign-details__table-td">
                          <button type="button" class="button--manage">Manage</button>
                        </td>
                        <td class="campaign-details__table-td">
                          <button type="button" class="button--report">Report</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup__save-report">
      <div class="popup__header">
        <div class="title__inner">
          <h4 class="title">Save Report</h4>
        </div>
      </div>
      <div class="popup__container">
        <p class="text--desc">Give these report settings a unique name so it`s easy to use them in the future.<br/>We`ll save your columns.</p>
        <div class="input--name">
          <label>Name</label>
          <input type="text">
        </div>
        <input type="checkbox">
        <label>Set this report as my default.</label>
      </div>
      <div class="popup__footer">
        <button type="button" class="button--ok">OK</button>
      </div>
      <button type="button" class="popup__button--close"></button>
    </div>
    <div class="popup__my-report">
      <div class="popup__header">
        <div class="title__inner">
          <h4 class="title">My Report</h4>
        </div>
      </div>
      <div class="popup__container">
        <div class="my-report__field">
          <ul class="my-report__list">
            <li class="my-report__item my-report__item--selected my-report__item--default"><span class="text--ellipsis">Report Report Report Report</span></li>
            <li class="my-report__item my-report__item--selected"><span>Report</span></li>
            <li class="my-report__item"><span>Report</span></li>
            <li class="my-report__item"><span>Report</span></li>
            <li class="my-report__item"><span>Report</span></li>
            <li class="my-report__item"><span>Report</span></li>
            <li class="my-report__item"><span>Report</span></li>
          </ul>
        </div>
        <input type="checkbox">
        <label>Set this report as my default.</label>
      </div>
      <div class="popup__footer">
        <button type="button" class="button--ok">OK</button>
      </div>
      <button type="button" class="popup__button--close"></button>
    </div>
    <div class="popup__dashboard-setting">
      <div class="popup__header">
        <div class="title__inner">
          <h4 class="title">Save Default Dashboard Setting</h4>
        </div>
      </div>
      <div class="popup__container">
        <div class="popup__content">
          <div class="campaign-type">
            <p class="popup__headline"><strong>Campaign Type</strong></p>
            <p class="desc">Arrange campaign types in the order of importance. <br/>The campaign type that appears on the first row will be the first campaign type you see when you enter Dashboard.</p>
            <div class="campaign-type__list">
              <ol id="list">
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Desktop App Engagement
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Desktop App Installs
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Lead Generation
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Mobile App Engagement
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Mobile App Installs
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Offer Claims
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Page Likes
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Page Post Engagement
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Product Catalog Sales
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Video Views
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Website Clicks
                </li>
                <li class="item"><span class="drag-handle"><img src="./images/icon_drag-handle_000000_13x20.png" alt=""></span>Website Conversions
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="popup__content">
          <div class="period-campaign-status">
            <p class="popup__headline"><strong>Period and Campaign Status</strong></p>
            <label>Period</label>
            <select style="width:116px;">
              <option>Today</option>
            </select>
            <label class="second-label">Status</label>
            <select style="width:116px;">
              <option>All</option>
            </select>
          </div>
        </div>
        <div class="popup__content">
          <div class="campaign-summary">
            <p class="popup__headline"><strong>Campaign Summary</strong></p>
            <p class="desc">The columns in Campaign Summary and the order by which they appear will be the same you have set in Edit Columns.</p>
            <input type="checkbox" id="c1">
            <label for="c1">Display Campaign Summary</label><i data-desc="If you check to see both Campaign Summary and Graph, Campaign Summary will display  ‘Spend’ column and the first two columns you have set in Edit Columns ." class="fa fa-info-circle"></i>
          </div>
        </div>
        <div class="popup__content">
          <div class="campaign-graph">
            <p class="popup__headline"><strong>Campaign Graph</strong></p>
            <input type="checkbox" id="c2">
            <label for="c2">Display Campaign Graph</label>
          </div>
        </div>
        <div class="popup__content">
          <div class="apply-setting">
            <p class="popup__headline"><strong>Apply Setting</strong></p>
            <div>
              <input type="radio" id="c3" name="r1">
              <label for="c3">Apply to this account, Adwitt Test.</label>
            </div>
            <div>
              <input type="radio" id="c4" name="r1">
              <label for="c4">Apply to this account other accounts.</label>
            </div>
            <div class="apply-setting__select">
              <select style="width: 336px; margin-left: 30px;">
                <option>Select other Account</option>
              </select>
              <p class="apply-setting__item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <button type="button" class="button--remove">Remove</button></p>
              <p class="apply-setting__item">Account Name <button type="button" class="button--remove">Remove</button></p>
              <p class="apply-setting__item">Account Name <button type="button" class="button--remove">Remove</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="popup__footer">
        <button type="button" class="button--ok">OK</button>
        <button type="button" class="button--cancel">Cancel</button>
      </div>
      <button type="button" class="popup__button--close"></button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
    <script src="./scripts/dashboard.js"></script>
  </body>
</html>
